<app-navbar></app-navbar>
<main
  [@routeAnimations]="prepareRoute(outlet)"
  class="min-h-[calc(100vh-160px)]"
>
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<app-footer></app-footer>
<app-scroll-top></app-scroll-top>
<a href="assets/Muhammad-Usama-Resume.pdf"
   (click)="handleResumeClick($event)"
   download
   class="fixed bottom-20 right-6 z-50 px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 rounded-full shadow-lg transition-all">
  📄 Resume
</a>
